.btnmoncard {
    top: 2px;
    left: 2px;
    position: absolute;
    z-index: 1000;
    color: black;
}

.monCard {
    position: absolute;
    width: 90vw;
    height: 90vh;
    background-color: white;
    left: 0vw;
    right: 0vw;
    top: 0vh;
    margin-left: auto;
    margin-right: auto;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 750;
}

.cardDesc {
    width: 90%;
    font-size: 1em;
    text-align: center;
    color: black;
}

.cardName {
    color: black;
    text-align: center;
}