.imgMonument {
    width: 70%;
    max-height: 70%;
    height: auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardName {
    font-size: 2em;
    text-align: center;
}

.cardDesc {
    width: 90%;
    font-size: 1.2em;
    text-align: center;
}